
Arduino IDE
JetBrains
Kitware
MusicBrainz
QtProject
Slack
VirtualBox
arduino-ide
cef_user_data/Dictionaries
chromium
configstore
discord
discord-rpc
gconf/desktop
gedit
gh
girok
ibus/bus
jgit
kde.org
lapce-stable
libreofficedev/4
pdfcpu
pulse
qt5ct/colors
qt6ct/colors
rncbc.org
session
shufti
systemd/user/default.target.wants
transmission
vifm
xfce4
QtProject.conf
formiko.ini
kritadisplayrc
kritarc
pavucontrol.ini
trashrc
user-dirs.locale
mpd/state
dolphinrc
kigorc
lazygit/state.yml
audacity
mangal
vlc
mpd/database
Blackmagic Design
dconf/user
cef_user_data/WidevineCdm
obs-studio/logs
MuseScore
obsidian
ghc/ghci_history
bluetuith/bluetuith.conf
qutebrowser/bookmarks/urls
