* {
    font-family: JetBrainsMono NF;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

window#waybar {
    color: #f2f2e9;
    background-color: rgba(23, 23, 28, 1.0);
}

button {
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    color: inherit;
    margin: 4px;
    padding-right: 7px;
    padding-left: 7px;
    font-family: JetBrainsMono NF;
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: 1px;
    border: none;
    min-width: 36px;
}

#workspaces button:hover {
}

#workspaces button.active {
    color: #cca37a;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#clock,
#battery,
#pulseaudio,
#custom-media {
    margin: 4px;
    padding-right: 12px;
    padding-left: 12px;
    border: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

#custom-layout,
#custom-window-start,
#custom-dunst {
    margin: 4px;
    padding-right: 12px;
    padding-left: 12px;
    color: #cca37a;
    border: none;
    min-width: 32px;
}

