* {
    font-family: JetBrainsMono NF;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

window#waybar {
    color: #f2f2e9;
    background-color: rgba(38, 38, 45, 0.68);
    border-bottom: 1px solid rgba(72, 72, 72, 0.48);
}

#custom-clock,
#battery,
#wireplumber,
#custom-media,
#image {
    margin: 4px;
    padding-right: 12px;
    padding-left: 12px;
    /* min-width: 32px; */
    border: none;
}

#window {
    /* margin: 4px; */
}

#workspaces {
    margin: 4px;
}

#custom-layout,
#custom-window-start,
#custom-dunst {
    margin: 4px;
    padding-right: 12px;
    padding-left: 12px;
    color: #cca37a;
    border: none;
    min-width: 32px;
}

button {
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    color: inherit;
    margin: 0 4px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 1px;
    border: none;
    border-radius: 7px;
    min-width: 36px;
    font-size: 8px;
}

#workspaces button.active {
    background-color: rgba(38, 38, 45, 0.72);
}

#workspaces button:hover {
    background-color: rgba(38, 38, 45, 0.72);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

